@import url(reset.css);
body
.content-section {
box-sizing: border-box;
width: 360px;
margin: 0 auto;
}
.content-section_theme_dark 
{
background-color: black;
color: white;
}
.content-section_theme_bright 
{
background-color: yellow;
color: black;
}
.header {
    margin: 24 20 24 20;
}